@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  background-color: #f1eeec;
}

.img{
  background-image: url(background1.jpg);
  background-repeat: no-repeat;
  height: 100%;
  width: 65%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.pawfect{
  display: inline;
  padding: 1vmin;
  font-size: 10vmin;
  margin-bottom: 5vmin;
  background-color: #6c9ff700;
  font-family: Lucida Handwriting;
}

#register_box {
  position: absolute;
  margin: 5vmin 0 5vmin 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 35%;
  align-items: center;
}

#heading{
  font-size: larger;
  margin: 2.5vmin 0 2.5vmin 0;
}

#register_box input {
  border: none;
  margin: 1vmin;
  height: 5vmin;
  width: 200px;
  border-radius: 8px;
  text-align: center;
  background: #f1eeec;
  border: 2px solid black;
}

.signup_cred {
  display: flex;
  border-radius: 16px;
}

p {
  position: relative;
  left: 3vmin;
  top: 2.5vmin;
  width: fit-content;
  background-color: #f1eeec;
  padding: 0 5px 0 5px;
  border-radius: 5px;
  z-index: 1;
}

.buttons{
  margin-top: 5vmin;
  display: flex;
  justify-content: space-around;
}

#submit button {
  border-radius: 8px;
  background-color: #e1ab6d77;
  border: 1px solid black;
  height: 30px;
  width: 75px;
}

#submit button:hover {
  background-color: #9a6f49;
  color: whitesmoke;
}

.error-message {
  align-self: center;
}

a{
  color: #8d5e3e;
}

a:hover{
  color: #392720;
}